.main * {
    margin: 0;
    padding: 0;
}
.main{
    height: 100%;
}
.main #container { 
    padding-bottom: 70px; 
    padding-top: 50px; 
    width: 1080px; 
    margin: 0 auto;
}
.main .korea_index .img_kospi{
    float:left; 
    box-sizing: border-box; 
    height: 350px; 
    width: 520px; 
    border: 1px solid red;
}
.main .korea_index .img_kosdaq{
    float:left; 
    box-sizing: border-box;
    height: 350px; 
    width: 520px; 
    border: 1px solid red; 
    margin-left: 40px;
}
.main .main_four_index{  
    clear: both; 
    padding-top: 50px;
}
.main .main_four_index .img_four_index{
    box-sizing: border-box; 
    height: 350px; 
    width: 1080px; 
    border: 1px solid red;
}
.main .main_invest{
    clear: both; 
    padding-top: 50px;
}
.main .main_invest .img_invest{
    box-sizing: border-box;
    height: 350px; 
    width: 1080px; 
    border: 1px solid red;
}