.second{
    width: 100%;
}
.second .menu{
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    color: #989696;
}

.second .menu_tab{
    top: 25%;
    font-weight: bold;
    text-align: center;
    border: 0;
    outline: 0;
    height: 30px;
    width: 25%;
    cursor: pointer;
    position: relative;
}
.second .menu_tab_clicked{
    color: #D50000;
    top: 25%;
    font-weight: bold;
    text-align: center;
    border: 0;
    outline: 0;
    height: 30px;
    width: 25%;
    cursor: pointer;
    position: relative;
}
.second .menu_tab_clicked::after{
    content: "";
    width: 75px;
    height: 2px;
    position: absolute;
    left: 18.5%;
    bottom: -15px;
    background-color: #d50000;
}

.Second_fourth{
    height: 48.5rem;
}
.Second_fourth .memo_header{
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    padding: 30px;
    align-items: center;
    border-bottom: 1px solid #e8e6e6;
}
.Second_fourth .memo_header .alter{
    border-radius: 10px;
    color: white;
    height: 30px;
    width: 60px;
    background-color: #989696;
    outline: 0;
    border: 0;
}
.Second_fourth .memo_header .submit{
    border-radius: 10px;
    color: white;
    height: 30px;
    width: 60px;
    background-color: #d50000;
    outline: 0;
    border: 0;
}
.Second_fourth .memo_main{
    padding: 30px;
    height: calc(48.5rem - 100px);
    background-color: #faf9f9;
    box-sizing: border-box;
}
.Second_fourth .memo{
    padding: 30px;
    background-color: white;
}
.Second_fourth .memo_title{
    color: #676464;
    display: flex;
    height: 50px;
    align-items: center;
    
}
.Second_fourth .memo_content{
    padding: 20px 0;
    border-top: 1px solid #e8e6e6;
    border-bottom: 1px solid #e8e6e6;
}
.Second_fourth .memo_content > textarea{
    border: 1px solid #e8e6e6;
    outline: 0;
    width: 368px;
    height:398px;
    font-size:16px;
    resize:none;
    overflow-y: scroll;
}
.Second_fourth .memo_content > div{
    height:400px;
    width: 370px;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    display: none;
}

