
.chatRoom * {
    margin: 0;
    padding: 0;
}

#root .chatRoom {
    height: 80vh;
}

.chatRoom .header .header_chat{
    background : url('../img/chat-red.png');
}

.chatRoom body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatRoom #chat-container {
    font-size: 10px;
    min-width: 800px;
    max-width: 1000px;
    max-height: 600px;
    flex: 1 0 0;
    height: 95vh;
    background: #FFF;
    border-radius: 10px;
    margin: 0 auto;
}

.chatRoom #chat-background{
    margin: 0 100px;
    padding: 0;
    padding-top: 120px;
    height: 100%;
    background: white;
}

.chatRoom #new-message-container {
    display: flex;
    align-items: center;
    grid-area: new-message-container;   
    border-radius: 0 0 0 10px;
    padding: 0 15px;
    border-right: 1px solid white;
}

.chatRoom #new-message-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    color: #D50000;
    text-decoration: none;
    font-size: 3.6rem;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.chatRoom #chat-title,
.chatRoom #chat-form {
    background: #eee;
}

.chatRoom #chat-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: chat-title;
    color: black;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 0 20px;
    height: 75px;
}

.chatRoom #chat-title > .trash-logo,
.chatRoom #chat-form > .attachment-logo {
    cursor: pointer;
}

.chatRoom #chat-title .trash-logo {
    background: url(../images/icons/trash-logo.png) no-repeat;
    background-size: 50px;
    background-position: center;
    width: 50px;
    height: 50px;
}

.chatRoom #chat-message-list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow-y: scroll;
    border: 1px solid rgba(0,0,0, 0.25);
    height: 100%;
}
.chatRoom .fix {
    flex: 1 auto;
}

.chatRoom .message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.chatRoom .message-content {
    display: grid;
}

.chatRoom .you-message {
    justify-content: end;
}

.chatRoom .you-message .message-content{
    justify-items: end;
}

.chatRoom .other-message .message-content {
    justify-items: start;
}

.chatRoom .message-row .message-img-man{
    background-color: white;
    background: url(../images/profiles/man.png) no-repeat;
    background-size: 50px;
    /* background-position: center; */
    width: 50px;
    border-radius: 100%;
    grid-row: span 2;
}

.chatRoom .message-time {
    font-size: 10px;
    color: #777;
}

.chatRoom .message-text {
    padding: 9px 14px;
    font-size: 18px;
    margin-bottom: 5px;
}

.chatRoom .you-message .message-text {
    background: #D50000;
    color: #eee;
    border: 1px solid #D50000;
    border-radius: 14px 14px 0 14px;
}

.chatRoom .other-message .message-text {
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}

.chatRoom #chat-form {
    display: flex;
    align-items: center;
    grid-area: chat-form;
    border-radius: 0 0 10px 10px;
    padding-left: 25px;
    padding-right: 22px;
    height: 75px;
}

.chatRoom #chat-form .attachment-logo {
    background: url(../images/icons/attachment-logo.png) no-repeat;
    background-size: 50px;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.chatRoom #chat-form input {
    flex: 1 0 0;
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 15px;
}

.chatRoom ::-webkit-scrollbar {
    display: none;
}