.fourth{
    width: 100%;
}
.fourth .menu{
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    color: #989696;
}

.fourth .menu_tab{
    color: #D50000;
    top: 25%;
    font-weight: bold;
    text-align: center;
    border: 0;
    outline: 0;
    height: 30px;
    width: 100%;
    cursor: pointer;
    position: relative;

}
.fourth .menu_tab::after{
    content: "";
    width: 75px;
    height: 2px;
    position: absolute;
    left: 44%;
    bottom: -15px;
    background-color: #d50000;
}

.fourth .fourth_content{
    width: 100%;
}

.fourth .fourth_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #e8e6e6;
}

.fourth .fourth_name{
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 500;
    padding-right: 30px;
}

.fourth .fourth_code{
    font-size: 13px;
    font-weight: 250;
    
}