@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

#root .chatUserAdd { 
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
}

.chatUserAdd .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 800px;
    margin: 0px 100px;
    padding-top: 70px;
}
.chatUserAdd .user_search{
    width: 800px;
    display: flex;
    height: 50px; 
    border: 1px solid #eee; 
    border-radius:10px; 
    background-color: #eee; 
    align-items: center;
}
.chatUserAdd .list{
    margin-top: 10px;
    display: flex;
    width: 800px;
}
.chatUserAdd .list_name{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.chatUserAdd .list_email{
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    width: 500px;
}
.chatUserAdd .content .search_result{
    
}

.chatUserAdd .content .search_result ol{
    display: flex;
    margin: 0;
    line-height: 1;
    font-size: 25px;
    padding: 0;
    border: 2px solid white;
    margin-top: 5px;
    width: 800px;
    /* background-color: #eee; */
    border-radius: 15px;

}
.chatUserAdd .content .search_result .chat-people-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}
.chatUserAdd .content .search_result .chat-people-email{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
}
.chatUserAdd .btnli{
    align-items: center;
    display: flex;
    width: 200px;
    justify-content: center;
}
.chatUserAdd .content .search_result .chat-people-btn{
    cursor: pointer;
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: url(../img/add.png) no-repeat;
    background-size: 30px;
    border: 0;
}
.chatUserAdd input::-webkit-search-cancel-button{
    background-color: red;
}